#head {
    .blockRed {
        display: none;
    }

    .titleText {
        text-align: center;

        p {
            padding: 25px 15px 25px 15px;
            /* Style for "At vero eo" */
            color: #595959;
            font-size: 16px;
            font-weight: 400;
            line-height: 24.84px;
        }    
    }

    @media (min-width: 768px) {
        .blockRed {
            display: block;
            background-color: red;
            height: 100px;
        }
        .titleText {
            text-align: left;
        }
    }

    @media (min-width: 1200px) {
        .titleText {
            p {
                padding: 25px 25px 25px 58px;
            }
        }
    }
}