#faq {
    width: 100%;


    .maxMinBox
    {
        width: 100%;
 
        .faqTitle {
            margin-bottom: 68px;

            &__firstLine {
                margin-left: -20px;
                margin-top: 68px;
                /* Style for "faq" */
                color: #eeeeee;
                font-size: 169px;
                font-weight: 900;
                line-height: 45.16px;
            }
            &__secondLine {
                /* Style for "co musisz" */
                margin-left: 70px;
                color: #333333;
                font-size: 54px;
                font-weight: 100;
                line-height: 45.16px;
            }
        }

        .accordion {
            &__Number {
               
                /* Style for "01 02 03" */
                font-size: 20px;
                font-weight: 100;
                color: #333333;
                border-right: #595959 1px solid;
            }

            &__Title {
                padding-left: 34px;
                font-weight: 100;
                padding-top: 3px;
            /* Style for "Co to jest" */
                font-size: 18px;
                color: #333333;
            }

            &__Content {
                padding-left: 34px;
                /* Style for "Sed ut per" */
                color: #595959;
                font-size: 16px;
                line-height: 22.58px;
            }
        }

        .panel-heading+.panel-collapse>.panel-body, 
        .panel {
            box-shadow:none;
            border: none;
            background-color: rgba(224,224, 224, 0.3);
        }

        .panel-default>.panel-heading {
            box-shadow:none;
            border: none;
            background-color: #fff;

            &:hover {
                background-color: rgba(243, 0, 0, 0.3) }
        }

        .panel {
            margin-bottom: 31px;
            background-color: #fff;

            &-body {
                padding: 27px 0 58px 0px;
            }

        }
    }

.blackBox {
    background-color: #000;
    height: 774px;
    border-radius: 25px 0 0;

    &__Title {
        margin: 55px 0 0 38px;
        /* Style for "dokumenty" */
        color: #ffffff;
        font-size: 41px;
        font-weight: 400;
        line-height: 54.19px;
        width: 310px;

        &--weight {
            /* Text style for "do pobrani" */
            font-weight: 100;
            }
    }
    &__List{
        width: 359px;
        list-style-type: none;
        margin-top: 47px;
        &--item {
            border-bottom: #ffffff 1px solid;
            color: #ffffff;
            font-size: 18px;
            font-weight: 400;
            line-height: 54.19px;
        }
    }
}
    @media (min-width: 768px) {
        .faqTitle {
            text-align: left;
            margin-left: 30px;
        }
    }
}