@import "settings";
@import "head";
@import "faq";

body {
    font-family: $primary-font; 
    text-align: center;
    .custom-wrap {
        display: inline-block;
        max-width: 1200px;
    }
}
